.executionCount {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  color: #a7a7a7;
  font-size: var(--ifm-code-font-size);
  margin-top: var(--ifm-pre-padding);
  margin-right: var(--ifm-pre-padding);
  line-height: var(--ifm-pre-line-height);
  min-width: 3rem;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  /* user-select: none; */
}

.cellWrapper {
  display: flex;
  align-items: flex-start;
  /* padding: 1rem; */
}

.cellContentWrapper {
  flex-grow: 1;
  overflow: auto;
}

.cellContentWrapperOutput {
  padding-top: 1rem;
  background-color: var(--ifm-background-color);

  --prism-background-color: var(--ifm-background-color);
  --prism-color: var(--ifm-font-color-base);
}

.executionCountInput {
  color: #307fc1;
}

.executionCountOutput {
  color: #bf5b3d;
}

/* Styles for screens smaller than 700px */
@media (max-width: 700px) {
  .executionCount {
    /* font-size: calc(var(--ifm-code-font-size) * 0.8); */
    min-width: 2rem;

    padding: 0.2rem 0.5rem;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    margin-right: 0.5rem;
    margin-top: 0rem;
  }

  .executionCountInput {
    background-color: #e0f0ff;
    color: #307fc1;
  }

  [data-theme="dark"] .executionCountInput {
    background-color: #002b36;
    color: #307fc1;
  }

  .executionCountInput::before {
    content: "In";
  }

  .executionCountOutput {
    /** Don't bother showing Output count on mobile */
    display: none;
  }

  /** Just in case we add Out[] in the future, keep some symmetry */
  .executionCountOutput::before {
    content: "Out";
  }

  .cellWrapper {
    flex-direction: column; /* stacks the flex items vertically */
  }

  .cellContentWrapper {
    width: 100%; /* takes up the full width */
    --ifm-leading: 0px;
    --ifm-pre-border-radius: 0px;
  }

  .cellContentWrapperOutput {
    padding-top: var(--ifm-pre-padding);
    /** Color comes from prism background on light theme */
    border: 2px solid #f6f8fa;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  [data-theme="dark"] .cellContentWrapperOutput {
    /** Color comes from prism background on dark theme */
    border: 1px solid #282a36;
  }
}
